#footer
  = haml :social, :layout => false if social
  %p
    %a{ :href => "/about", :title => "What's this about?" } about
    &bull;
    powered by
    %a{ :href => "http://effectif.com/nesta", :title => "Nesta [effectif.com/nesta]" } nesta